<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
<div id="chat-log"></div>
<input type="text" id="recipient" placeholder="Recipient Username">
<input type="text" id="chat-message-input" placeholder="Type a message...">
<button id="chat-message-submit">Send</button>

<script>
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').innerHTML += ('<b>' + data.sender + ':</b> ' + data.message + '<br>');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    chatSocket.onerror = function(error) {
        console.error('WebSocket Error: ' + error);
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const recipient = document.querySelector('#recipient').value;
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'recipient': recipient,
            'message': message
        }));
        messageInputDom.value = '';
    };
</script>
</body>
</html>
